@use 'variables' as v;

@mixin telefono{
    @media(min-width: v.$telefono){
        @content; // El @Content Permite añadir contenido dentro del Mixin
    }   
}

@mixin tablet{
    @media(min-width: v.$tablet){
        @content;
    }   
}

@mixin desktop{
    @media(min-width: v.$desktop){
        @content;
    }
}

@mixin desktopXL{
    @media(min-width: v.$desktopXL){
        @content;
    }
}

// se agregan parametros al momento de llamar el mixin para añadir los valores que necesites
@mixin grid($columnas, $espaciado){
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $espaciado;
}