// Tipografia
$fuentePrincipal :'Monserrat', sans-serif;


// Colores
$verde : #8fbcbb;
$rosa : #bf616a;
$amarillo: #ebcb8b;
$morado: #b48ead;
$negro: #2e3440;
$blanco: #eceff4;
$azul: #5e81ac;
$azulCrema: #81a1c1;
$azulNord: #88c0d0;
$gris: #e5e9f0;
$grisNord: #d8dee9;
$polarNight: #3b4252;
$night:#434c5e;
$nord:#4c566a;
$verdeAurora:#a3be8c;
$naranja: #d08770;

//  Tamaños de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop:992px;
$desktopXL: 1200px;