@use 'base/variables' as v;
@use 'base/mixinx' as m;

.site-footer{
    background-color: v.$negro;
    padding: 2rem 0;
    p{
        text-align: center;
        color: v.$blanco ;
        margin: 0rem;
    }
}